<footer>
    <div class="container-fluid">
        <section class="py-4">
            <div class="row">
                <div class="col-lg-2 col-sm-4">
                    <div class="text-center">
                        <i class="fas fa-truck px-3 my-auto fa-4x" style="color:white"></i>
                        <p class="my-auto text-white">Livraison en 24h</p>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <div class="text-center">
                        <i class="fas fa-undo px-2 my-auto fa-4x " style="color:white"></i>
                        <p class="text-white">Remboursement </br> sous 30 jours</p>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <div class="text-center">
                        <i class="fas fa-shield-alt px-3 my-auto fa-4x" style="color:white"></i>
                        <p class="text-white">Paiement sécurisé</p>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <div class="text-center">
                        <i class="fab fa-paypal px-3 fa-5x" style="color:white"></i>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <div class="text-center">
                        <i class="fab fa-cc-visa px-3 fa-5x" style="color:white"></i>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 faSize">
                    <div class="text-center">
                        <i class="fab fa-cc-mastercard px-3 fa-5x" style="color:white"></i>
                    </div>
                </div>
            </div>
    </div>
    </section>
    {# CGU/CGV #}
    <section>
        <div class="container pb-3">
            <div class="row">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path("mentions") }}">Mentions légales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path("cgucgv") }}">CGV/CGU</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path("contact") }}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="">Politiques de confidentialités</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</footer>